<h1><%= t('tasks.edit.title') %></h1>

<%= render 'form' %>

<%= link_to t('tasks.edit.show'), @task, class: 'btn btn-outline-primary' %>
<%= link_to t('tasks.edit.back'), tasks_path, class: 'btn btn-link' %>
