<div class="container-fluid">
  <div class="row text-center justify-content-center">
    <h1><%= t('.welcome') %></h1>
  </div>
  <div class="row text-center justify-content-center">
    <h3><%= t('.choose') %></h3>
  </div>
  </div>
  <div class="row text-center justify-content-center">
    <div class="mx-auto">
      <%= link_to t('.tasks'), tasks_path, class: "btn btn-outline-primary" %>
      <%= link_to t('.scrapper'), scrapper_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>
